/* ------------------------------------------------
  Project:   Sassaht - SaaS, Startup & WebApp Prebuilt Template
  Author:    ThemeHt

  NOTE: This is Color customizer stylesheet of template.
------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Saira Semi Condensed', sans-serif;
}
