/* ------------------------------------------------
  Project:   Sassaht - SaaS, Startup & WebApp Prebuilt Template
  Author:    ThemeHt

  NOTE: This is Color customizer stylesheet of template.
------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Livvic:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&display=swap');

body {
    font-family: 'Livvic', sans-serif;
}
