.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
}

.hide {
    display: none;
}

#error-msg {
    color: red;
    margin-left: 2px;
}

#valid-msg {
    color: green;
    margin-left: 2px;
}
