.content {
    padding-top: 0 !important;
}

.card-body {
    .card-icon {
        font-size: 25px;
    }

    .card-count {
        font-size: 40px !important;
    }
}

.whitespace-nowrap {
    white-space: nowrap;
}
